[importlinter]
root_package = exp_coord

[importlinter:contract:layers]
name = Core Application Layering Contract
type = layers
layers =
    cli
    handlers
    db
    services
    core
containers =
    exp_coord

[importlinter:contract:s3i-layers]
name = S3I Service Layering Contract
type = layers
layers =
    broker | config
    base
containers =
    exp_coord.services.s3i

[importlinter:contracts:s3i-client-implementation-layers]
name = S3I Client Implementation Layering Contract
type = layers
layers =
    # Add __init__.py here if applicable
    client
    models
containers =
    exp_coord.services.s3i.broker
    exp_coord.services.s3i.config
